<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Import</title>
  </head>
  <body>
    <h1 class="text-light bg-dark">Import</h1>

    <form action="" method="get">

        {% csrf_token %}
        {{ form }}
        <br>
        <input type="submit" value="Submit" class="btn btn-light bg-dark">

    </form>
    <div class="btn-group-vertical">
        <button type="button" class="btn btn-light bg-dark"><a href="/book_list">Book List</a></button>
        <button type="button" class="btn btn-light bg-dark"><a href="/ ">Home Page</a></button>
    </div>
  </body>